<!-- Section 1 -->
<section class="flex relative mx-4 my-8 rounded-[3rem] section1 h-[35rem]">
  <div
    class="w-2/5 bg-red-50 gap-3 text-white p-24 flex flex-col justify-center items-start clip-slant-left rounded-[3rem]"
  >
    <span class="text-black font-bold mb-4 text-7xl leading-[5.5rem]"
      >Join the <br />
      movement</span
    >
    <p class="text-2xl text-black mb-6">
      Grow your business and reach new <br />
      customers by partnering with us.
    </p>
    <button
      class="bg-[#fc353a] text-white py-2 px-4 rounded-3xl hover:bg-red-600 hover:text-white transition"
    >
      Sign up your store
    </button>
  </div>
</section>
<!-- Section 2 -->
<section class="flex flex-row mx-4 my-8 h-auto">
  <div class="flex-[4] bg-red-50 rounded-[3rem] pt-20 px-14">
    <img
      src="../../../assets/images/Screenshot (34).png"
      alt=""
      class="w-[28rem] ml-auto mr-auto"
    />
  </div>
  <div class="flex flex-col flex-[6] gap-10 mb-4 p-28">
    <span class="text-black font-bold text-7xl leading-[5.5rem]"
      >Everything you <br />
      crave, delivered.</span
    >
    <span class="text-2xl text-black"
      >Get a pizza delivered, or pick up some chicken <br />
      chowmein from the chinese takeout spot you've been meaning to try.
    </span>
    <button
      class="bg-[#fc353a] w-max text-white py-2 px-4 rounded-3xl hover:bg-red-600 hover:text-white transition"
    >
      Find restaurant
    </button>
  </div>
</section>
<!-- Section 3 -->
<section class="flex flex-row mx-4 my-8 h-[40rem]">
  <div class="flex flex-col flex-[6] gap-10 mb-4 p-28">
    <span class="text-black font-bold text-7xl leading-[5.5rem]"
      >Find the perfect <br />
      cuisine for you
    </span>
    <span class="text-2xl text-black"
      >Start swiping right for your taste buds - you'll soon find the cuisine
      <br />
      that's a perfect match for your cravigs
    </span>
    <button
      class="bg-[#fc353a] w-max text-white py-2 px-4 rounded-3xl hover:bg-red-600 hover:text-white transition"
    >
      Discover cuisines
    </button>
  </div>
  <div class="flex-[4] bg-red-50 rounded-[3rem] pt-14 px-14 eatingImg"></div>
</section>
<!-- Section 4 -->
<section
  class="flex flex-row mx-4 my-8 h-[32rem] bg-[#fc353a] rounded-[3rem] items-center"
>
  <div class="w-1/2 rounded-[3rem] p-24 pb-0">
    <img
      src="../../../assets/images/two-mobiles.png"
      alt=""
      class="w-[35rem] h-[26.5rem]"
    />
  </div>
  <div class="flex flex-col w-1/2 gap-10 p-16">
    <span class="text-white font-bold text-7xl leading-[5.5rem]"
      >Download <br />
      our app.</span
    >
    <span class="text-2xl text-white"
      >Our app gives you access to your favourite restaurants. <br />
      Get your food delivered right to you.
    </span>
    <div class="flex justify-start space-x-4">
      <img
        class="w-[8rem] h-[2.5rem] cursor-pointer"
        src="../../../assets/images/app-store.png"
      />
      <img
        class="w-[8rem] h-[2.5rem] cursor-pointer"
        src="../../../assets/images/google-play.png"
      />
    </div>
  </div>
</section>
<!-- Section 5 -->
<section
  class="flex flex-row mx-4 my-8 h-[32rem] bg-[#fc353a] rounded-[3rem] items-center relative maps"
>
  <div class="p-8 bg-white absolute rounded-3xl top-[3rem] left-[3rem]">
    <span class="text-[#fc353a] text-6xl font-bold"
      >Restaurants <br />
      Near Me</span
    >
  </div>
</section>
<!-- Section 6 -->
<section class="flex flex-col gap-5 mx-8 my-8">
  <div class="text-center p-4">
    <span class="text-black font-bold text-5xl">View All Cities</span>
  </div>
  <div class="grid grid-cols-5 px-24 py-6 gap-x-16">
    <div class="col-span-2 flex flex-col gap-8">
      <span class="text-xl"> Aberdeen </span>
      <span class="text-xl">Belfast </span>
      <span class="text-xl">Birmingham </span>
      <span class="text-xl">Brighton and Sussex </span>
      <span class="text-xl">Cambridge and East Anglia </span>
      <span class="text-xl">Cardif </span>
    </div>
    <div class="col-span-1 flex flex-col gap-10">
      <span class="text-xl"> Edinburgh </span>
      <span class="text-xl">Glasgow </span>
      <span class="text-xl">Hull </span>
      <span class="text-xl">Leeds </span>
      <span class="text-xl">Leicester </span>
      <span class="text-xl">London </span>
    </div>
    <div class="col-span-1 flex flex-col gap-10">
      <span class="text-xl"> Manchester </span>
      <span class="text-xl">Merseyside </span>
      <span class="text-xl">North East </span>
      <span class="text-xl">Northampton</span>
      <span class="text-xl">Milton Keynes </span>
      <span class="text-xl">Nottingham </span>
    </div>
    <div class="col-span-1 flex flex-col gap-10">
      <span class="text-xl"> Oxford </span>
      <span class="text-xl">Sheffield </span>
      <span class="text-xl">South coast </span>
      <span class="text-xl">South West </span>
      <span class="text-xl">Stoke </span>
    </div>
  </div>
</section>
