<div class="bg-red-50 m-4 rounded-[3rem] pt-8 pb-16 px-20 space-y-14">
  <div class="grid grid-cols-5">
    <div class="grid justify-between col-span-2">
      <div
        class="flex flex-col self-end text-[#fc353a] font-bold text-[2.5rem] leading-7"
      >
        <span class="ml-3">Go</span>
        <span>Grubz</span>
      </div>
      <div class="flex self-end">
        <span
          >&copy; &nbsp;&nbsp;&nbsp; 2022 GoGrubz Ltd. All Rights
          Reserved.</span
        >
      </div>
    </div>
    <div class="flex flex-col gap-3 col-span-1">
      <span> Get Help </span>
      <span>Buy gift cards</span>
      <span>Add your restaurant</span>
      <span>Sign up to deliver</span>
      <span>Create a business account</span>
      <span>Promotions</span>
    </div>
    <div class="flex flex-col gap-3 col-span-1">
      <span> Restaurants near me </span>
      <span>View all cities </span>
      <span>View all countries </span>
      <span>Pickup near me </span>
      <span>About Us </span>
      <span><mat-icon class="text-sm">translate</mat-icon> English </span>
    </div>
    <div class="col-span-1 text-center gap-5 self-center">
      <span class="text-xs">FOLLOW US </span>
      <div class="flex flex-row gap-5 justify-center mt-4">
        <a href="https://instagram.com/yourprofile" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-facebook"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.94 2.502H10.5V0h-2C6.505 0 6 1.16 6 2.73v1.794H4v2.5h2v6.5h2.5v-6.5h2l.5-2.5H8.94V3.097c0-.576.286-.595.5-.595z"
            />
          </svg>
        </a>
        <a href="https://instagram.com/yourprofile" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0C8.741 0 8.332.014 7.053.072c-1.276.058-2.144.261-2.9.558a5.903 5.903 0 0 0-2.15 1.392 5.902 5.902 0 0 0-1.392 2.15c-.297.756-.5 1.624-.558 2.9C.014 8.332 0 8.741 0 12s.014 3.668.072 4.947c.058 1.276.261 2.144.558 2.9a5.902 5.902 0 0 0 1.392 2.15 5.902 5.902 0 0 0 2.15 1.392c.756.297 1.624.5 2.9.558C8.332 23.986 8.741 24 12 24s3.668-.014 4.947-.072c1.276-.058 2.144-.261 2.9-.558a5.902 5.902 0 0 0 2.15-1.392 5.902 5.902 0 0 0 1.392-2.15c.297-.756.5-1.624.558-2.9C23.986 15.668 24 15.259 24 12s-.014-3.668-.072-4.947c-.058-1.276-.261-2.144-.558-2.9a5.903 5.903 0 0 0-1.392-2.15 5.903 5.903 0 0 0-2.15-1.392c-.756-.297-1.624-.5-2.9-.558C15.668.014 15.259 0 12 0zM12 5.838a6.162 6.162 0 1 1 0 12.324A6.162 6.162 0 0 1 12 5.838zm0 10.162a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm6.406-10.844a1.44 1.44 0 1 1 0 2.88 1.44 1.44 0 0 1 0-2.88z"
            />
          </svg>
        </a>
        <a href="https://instagram.com/yourprofile" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-twitter"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.009-.423A6.676 6.676 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.573 6.573 0 0 1-2.084.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.017 4.382A3.323 3.323 0 0 1 .64 6.575v.041a3.284 3.284 0 0 0 2.633 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.617-.057 3.283 3.283 0 0 0 3.067 2.278A6.588 6.588 0 0 1 0 13.026a9.29 9.29 0 0 0 5.031 1.475"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
